.desktop {
    display: block;

    @include bp(small) {
        display: none;
      }
}

.navbar {
    background-color: $IplayGrey;
    width: 100%;
    height: 80px;

}

.navbar-nav ul li ul li{
    display: none;
    background-color: #4e4e4e;
}

.navbar-nav ul li:hover ul li {
    display: block;
}

.navbar-nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

.navbar-nav ul li {
    width: 120px;
}

.navbar-nav ul li ul {
    flex-direction: column;
    margin: 20px;
}

.menu-wrapper {
    display: flex;
    float: right;
    margin: 20px;

}

.title {
  font-family: "Helvetica Neue";
  font-size: 56px;
  font-weight: bold;
  // line-height: 69px;
  color: $IplayGreen;
  height: 198px;
  width: 400px;
}

// .otherbox {
//   background-image: url("/../images/other.jpg");
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   opacity: .2;
//   // width: 480px;
//   height: 900px;
//   background-color: #1E92FE;
//   float: left;
//   // width: 33.33%;
//   clip-path: polygon(0 40%, 100% 30%, 100% 100%, 0 100%);
// }

// .fanbox {
//   width: 480px;
//   height: 995px;
//   background-color: #E50279;
//   float: left;
//   width: 33.33%;
//   clip-path: polygon(0 27.1%, 100% 17.1%, 100% 90.5%, 0 90.5%);
// }

// .athletebox {
//   width: 480px;
//   height: 1080px;
//   background-color: #3FBF55;
//   float: left;
//   width: 33.33%;
//   clip-path: polygon(0 15.7%, 100% 5.7%, 100% 83.35%, 0 83.35%);
//
// }
.app {
  width: 500px;
  height: 100px;
  margin-left: 50vh;

}

.othertext {
    color: black;
    text-align: left;
    font-family: "Helvetica Neue";

}

.fantext {
    color: black;
    text-align: center;
    font-family: "Helvetica Neue";
}

.athletetext {
    color: black;
    text-align: right;
    font-family: "Helvetica Neue";
}


.boxes {
  width: 100%;
  height: 1080px;
}

.other {
  background-image: url("../../../public/themes/wordplate/images/other.jpg");
  // background: rgba(63, 191, 85, 0.5);
  object-fit: cover;
  opacity: .4;
  width: 33.33%;
  background-color: $IplayBlue;
  height: 1080px;
  float: left;
  clip-path: polygon(0 30%, 100% 20%, 100% 100%, 0 100%);
}

.fan {
  background-image: url("../../../public/themes/wordplate/images/fans.jpg");
  object-fit: cover;
  opacity: .9;
  width: 33.33%;
  background-color: $IplayPink;
  height: 1080px;
  float: left;
  clip-path: polygon(0 20%, 100% 10%, 100% 100%, 0 100%);
}

.athlete {
  background-image: url("../../../public/themes/wordplate/images/athlete.jpg");
  object-fit: cover;
  opacity: .4;
  width: 33.33%;
  background-color: $IplayGreen;
  height: 1080px;
  float: left;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
}




.superusers {
    height: 100px;
    width: 450px;
    background-color: #3FBF55;
    color: white;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: "Helvetica Neue";
    margin-bottom: 40px;
}

.testimonial1 {
  height: 200px;
  width: 1100px;
  float: right;
  background-color: #3FBF55;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue";
  margin-bottom: 70px;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}

.testimonial2 {
  height: 200px;
  width: 1100px;
  float: left;
  background-color: #3FBF55;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue";
  margin-bottom: 70px;
  clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
}

.testimonial3 {
  height: 200px;
  width: 1100px;
  float: right;
  background-color: #3FBF55;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue";
  margin-bottom: 70px;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}

// .testimonialimage1 {
//   background-image: url("../../../public/themes/wordplate/images/nathaliehagman.png");
//   width: 300px;
//   height: 300px;
//   border-radius: 100%;
// }

div.testimonialimage1 {
  width: 90px;
}
