.desktop {
    display: block;

    @include bp(small) {
        display: none;
      }
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

.navbar {
    background-color: $IplayGrey;
    width: 100%;
    height: 100px;
}

.navbar-nav ul li ul li{
    display: none;
    background-color: #4e4e4e;
}

.navbar-nav ul li:hover ul li {
    display: block;
}

.navbar-nav ul {
    display: flex;
    justify-content: space-between;
}

.navbar-nav ul li {
    width: 120px;
}

.navbar-nav ul li ul {
    flex-direction: column;
    margin: 20px;
}

.menu-wrapper {
    display: flex;
    float: right;
    margin: 20px;
}

.athletebox {
  width: 480px;
  height: 1080px;
  background-color: #3FBF55;
  float: left;
  width: 33.33%;

}

.fanbox {
  width: 480px;
  height: 995px;
  background-color: #E50279;
  float: left;
  width: 33.33%;
}

.otherbox {
  width: 480px;
  height: 900px;
  background-color: #1E92FE;
  float: left;
  width: 33.33%;
}
