/* WordPlate */
@import 'node_modules/bootstrap/scss/bootstrap-grid';
@import 'desktop';

body {
    margin: 0;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

.btn-outline-success {
    color: #2bda28;
    background-color: transparent;
    background-image: none;
    border-color: #2bda28;
}

.overlay-white {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.video-background {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
    filter: grayscale(100%);
    // background-blend-mode: multiply;
}
.video-foreground,
.video-background iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
pointer-events: none;
}
#vidtop-content {
    top: 0;
    color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
.video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
.video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

.blue {
    background-color: dodgerblue;
    height: 10vh;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.navbar {
    background-color: dimgrey;
    width: 100%;
    height: 10vh;
}

.navbar-nav ul li ul li{
    display: none;
    background-color: dimgrey;
}

.navbar-nav ul li:hover ul li {
    display: block;
}

.navbar-nav ul {
    display: flex;
    justify-content: space-between;
}

.navbar-nav ul li {
    width: 120px;
}

.navbar-nav ul li ul {
    flex-direction: column;
    margin: 20px;
}

.menu-wrapper {
    display: flex;
    float: right;
    margin: 20px;
}

@media only screen
and (max-width : 667px)
{
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

}
