.mob-mockup {
    position: absolute;
    width: 67%;
    top: 15vh;
    left: -27%;
}

.mob-unitingTheWorld {
    position: absolute;
    width: 247px;
    top: 114px;
    left: 41%;

    h1 {
        white-space: nowrap;
    }
}