$IplayGrey: #4e4e4e;
$IplayGreen: #3FBF55;
$IplayPink: #E50279;
$IplayBlue: #1E92FE;
$IplayWhiteBG: #F5F5F5;

@mixin bp($point) {
    @if $point == small {
      @media (max-width: 768px) { @content; }
    }
    @else if $point == medium {
      @media (max-width: 1250px) { @content; }
    }
    @else if $point == large {
      @media (min-width: 1250px)  { @content; }
    }
  }