h1 {
  font-size: 2vw;
}

.imageboxes {

}

.image1 {
  background-color: $IplayGreen;
  background-blend-mode: multiply;
  background-image: url("/themes/wordplate/images/nathaliehagman.png");
  padding: 20px;
  background-size: 100%;
  background-position: 64% 100%;
  width: 25%;
  height: 40vh;
  float: left;
  margin-left: 3vw;
}

.image2 {
  background-color: $IplayGreen;
  background-blend-mode: multiply;
  background-image: url("/themes/wordplate/images/nathaliehagman.png");
  padding: 20px;
  background-size: 100%;
  background-position: 64% 100%;
  width: 25%;
  height: 40vh;
  float: left;
  margin-left: 3vw;
}

.image3 {
  background-color: $IplayGreen;
  background-blend-mode: multiply;
  background-image: url("/themes/wordplate/images/nathaliehagman.png");
  padding: 20px;
  background-size: 100%;
  background-position: 64% 100%;
  width: 25%;
  height: 40vh;
  float: left;
  margin-left: 3vw;
}

.image-row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: black;
  text-align: center;
  margin-top: 8.5vh;
}

.team-row {
  width: 100%;
  padding-left: 11.5%;
  h1 {
    font-size: 72px;
  }
}

.employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 30vw;
}

.img-employee {
  width: 20vw;
}

.white-bg {
  background-color: white; 
  display: flex;
  flex-direction: column;
  text-align: left;
  h2 {
    margin-bottom: 0;
    margin-top: 3%;
    font-size: 32px;
    margin-left: 5%; 
  }
  h3 {
    font-size: 20px;
    font-weight: 300;
    margin-left: 5%; 
    margin-top: 1%; 
  }
}