.desktop {
    display: flex;
    flex-direction: column;

    @include bp(small) {
        display: none;
      }
}

.desktop-placeholder {
  width: 100vw;
  height: calc(100vh - 100px);
}

.desktop-whiteBgSquare {
  position: absolute;
  top: 100vh;
  background-color: $IplayWhiteBG;
  width: 100vw;
  height: 100vh;
}

.desktoplogo {
  width: 180px;
  margin-left: 14.3vw;
}

.navbar {
    background-color: $IplayGrey;
    width: 100%;
    height: 100px;
}

.iplay-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $IplayGrey;
  width: 100%;
  height: 100px;
}

.navbar-nav ul li:hover ul li {
    display: block;
}

.navbar-nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 24px;
}

.navbar-nav ul li {
  margin: 21px;
  position: relative;
  white-space: nowrap;
}

.navbar-nav ul li ul {
    flex-direction: column;
    background-color: $IplayGrey;
    padding: 5px;
    padding-top: 30px;
    left: -10px;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    border-radius: 3px;
}

.navbar-nav ul li ul li{
  margin: 3px;
  display: none;
}

.menu-wrapper {
    display: flex;
    margin-right: 119px;
}

.title-app-container {
  position: absolute;
}

.title {
  font-size: calc(2.5vh + 2.8vw);
  font-weight: bold;
  color: $IplayGreen;
  line-height: 5px;
  margin-top: 22vh;
  margin-left: 14.3vw;
}

.titletext {
  width: 700px;
  font-size: calc(1.4vh + 1.4vw);
  font-weight: 300;
  line-height: 10px;
  margin-top: 7vh;
  margin-left: 14.3vw;
}

.app {
  width: 700px;
  margin-left: 14.3vw;
  margin-top: 9vh
}

.app1 {
  width: 24vh;
  margin-right: 80px;
}

.app2 {
  width: 27vh;
}

.mockup {
  position: absolute;
  top: 17vh;
  right: 12vw;
  width: 30vw;
  float: right;
  z-index: 1;
}

.boxes {
  width: 100%;
}

.other {
  background-color: $IplayBlue;
  background-blend-mode: multiply;
  background-image: url("/themes/wordplate/images/other.jpg");
  background-size: 306%;
  background-position: 64% 100%;
  width: 33.33%;
  height: 130vh;
  float: left;
  clip-path: polygon(0 30%, 100% 20%, 100% 100%, 0 100%);
}

.othertext {
  color: white;
  font-size: 3.2vh;
  margin-top: 45vh;
  margin-left: 8vw;

  p {
    font-size: 2.5vw;
    font-weight: 300;
    text-align: center;
    margin-left: -3.4vw;
  }
}
.fan {
  background-color: $IplayPink;
  background-blend-mode: multiply;
  background-image: url("/themes/wordplate/images/fans.jpg");
  background-size: 340%;
  background-position: 64% 100%;
  width: 33.33%;
  height: 130vh;
  float: left;
  clip-path: polygon(0 20%, 100% 10%, 100% 100%, 0 100%);
}

.fantext {
  color: white;
  font-size: 3.2vh;
  margin-top: 45vh;
  margin-left: 8vw;

  p {
    font-size: 2.5vw;
    font-weight: 300;
    text-align: center;
    margin-left: -5.1vw;
  }
}

.athlete {
  background-color: $IplayGreen;
  background-blend-mode: multiply;
  background-image: url("/themes/wordplate/images/athlete.jpg");
  background-size: 320%;
  background-position: 48% 100%;
  width: 33.33%;
  height: 130vh;
  float: left;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
}

.athletetext {
  color: white;
  font-size: 3.2vh;
  margin-top: 45vh;
  margin-left: 4vw;

  p {
    font-size: 2.5vw;
    font-weight: 300;
    text-align: center;
    margin-left: 0.5vw;
  }
}

.desktop-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 18vw;
    height: 9vh;
    transform: skew(-25deg);
    box-shadow: -15px 15px black;
    h3 {
      margin: 0;
    }
}

.desktop-row {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    margin-top: 8.5vh;

    p {
        font-weight: 300;
        font-size: 3.5vh;
        margin-top: -3vh;
    }

    h1 {
      margin-top: 38vh;
      font-size: 3.5vw;
    }
}

.desktopbuttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    color: black;

    h3 {
        font-size: 1.7vw;
        font-style: italic;
        text-align: center;
        transform: skew(25deg);
    }
}

.boxbuttons {
  margin-top: 2vh;
}

.learnmorebutton1 {
  background-color: white;
  height: 8vh;
  width: 17vw;
  color: black;
  margin-top: 91vh;
  margin-left: 8vw;
  font-size: 3vh;
  text-align: center;
  transform: skew(-25deg);
  box-shadow: -15px 14px black;
  padding: 2vh;
  font-weight: bold;
}

.getstartedbutton1 {
  background-color: white;
  height: 8vh;
  width: 17vw;
  color: black;
  margin-top: 105vh;
  margin-left: 8vw;
  font-size: 3vh;
  text-align: center;
  font-weight: bold;
  transform: skew(-25deg);
  box-shadow: -15px 14px black;
  padding: 2vh;
}

.learnmorebutton2 {
  background-color: white;
  height: 8vh;
  width: 17vw;
  color: black;
  margin-top: 91vh;
  margin-left: 8vw;
  font-size: 3vh;
  text-align: center;
  font-weight: bold;
  transform: skew(-25deg);
  box-shadow: -15px 14px black;
  padding: 2vh;
}

.getstartedbutton2 {
  background-color: white;
  height: 8vh;
  width: 17vw;
  color: black;
  margin-top: 105vh;
  margin-left: 8vw;
  font-size: 3vh;
  text-align: center;
  font-weight: bold;
  transform: skew(-25deg);
  box-shadow: -15px 14px black;
  padding: 2vh;
}

.learnmorebutton3 {
  background-color: white;
  height: 8vh;
  width: 17vw;
  color: black;
  margin-top: 91vh;
  margin-left: 75vw;
  font-size: 3vh;
  text-align: center;
  font-weight: bold;
  transform: skew(-25deg);
  box-shadow: -15px 14px black;
  padding: 2vh;
}

.getstartedbutton3 {
  background-color: white;
  height: 8vh;
  width: 17vw;
  color: black;
  margin-top: 105vh;
  margin-left: 75vw;
  font-size: 3vh;
  text-align: center;
  font-weight: bold;
  transform: skew(-25deg);
  box-shadow: -15px 14px black;
  padding: 2vh;
}

.superusers {
  height: 16vh;
  width: 75vh;
  background-color: $IplayGreen;
  color: white;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 9vh;
  font-weight: bold;
  margin-bottom: 18px;
  margin-top: 65px;

  h1 {
    text-align: center;
    font-size: 5vw;
    margin-top: 1.2vh;
  }
}

.testimonial1 {
  height: calc(12vh + 12vw);
  width: 75vw;
  float: right;
  background-color: $IplayGreen;
  text-align: center;
  color: white;
  margin-bottom: 45px;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}

.testimonial2 {
  height: calc(12vh + 12vw);
  width: 75vw;
  float: left;
  background-color: $IplayGreen;
  text-align: center;
  color: white;
  margin-bottom: 45px;
  clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
}

.testimonial3 {
  height: calc(12vh + 12vw);
  width: 75vw;
  float: right;
  background-color: $IplayGreen;
  text-align: center;
  color: white;
  margin-bottom: 145px;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}

.testimonialimage1 {
  position: absolute;
  width: calc(11vh + 11vw);
  border-radius: 100%;
  margin-left: -32.5vw;
  margin-top: 1.3vh;;
}

.testimonialimage2 {
  position: absolute;
  width: calc(11vh + 11vw);
  border-radius: 100%;
  margin-left: 15.3vw;
  margin-top: 1.3vh;
}

.testimonialimage3 {
  position: absolute;
  width: calc(11vh + 11vw);
  border-radius: 100%;
  margin-left: -32.5vw;
  margin-top: 1.3vh;
}

.athletetext1 {
  text-align: left;
  margin-left: 23vw;
}

.athletename1 {
  font-size: 3.5vh;
}

.team1 {
  font-size: 2.3vh;
  margin-top: -2.9vh;
}

.quote1 {
  font-size: 2.7vh;
  margin-top: -1vh;
}

.athletetext2 {
  text-align: right;
  margin-right: 23vw;
}

.athletename2 {
  font-size: 3.5vh;
}

.team2 {
  font-size: 2.3vh;
  margin-top: -2.9vh;
}

.quote2 {
  font-size: 2.7vh;
  margin-top: -1vh;
}

.athletetext3 {
  text-align: left;
  margin-left: 23vw;
}

.athletename3 {
  font-size: 3.5vh;
}

.team3 {
  font-size: 2.3vh;
  margin-top: -2.9vh;
}

.quote3 {
  font-size: 2.7vh;
  margin-top: -1vh;
}

.desktop-row {
  display: flex;
  width: 100%;
  }
  