.desktopfooter {
    margin-top: 15.5vh;
    display: flex;
    width: 100%;
    height: 471px;
    background-color:$IplayFooterGrey;
}
  
.footertext {
color: white;
margin-left: 25vh;
padding: 50px;
}

.footerlinks {
font-size: 2vw;
padding: 5px;
}

.footerphoneaddress {
font-size: 26px;
margin-top: 72px;
margin-bottom: 10px;
}

.footercopyright {
font-size: 26px;
white-space: nowrap;
font-weight: 300;
}

.footerlogo {
width: 20vh;
}

.footerprenumera {
position: absolute;
margin-left: 44vw;
margin-top: -41vh;
font-size: 3.5vh;
}

.footeremail {
position: absolute;
margin-left: 44vw;
margin-top: -25vh;
font-size: 3.5vh;
}


.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    color: white;
    padding-top: 64px;
    padding-left: 10vw;
    padding-right: 0;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    width: 50%;
    height: 100%;
    color: white;
    padding-top: 80px;
    padding-right: 10vw;
    padding-bottom: 0; 
    h3 {
        margin: 0;
        text-align: right;
        font-size: 24px;
    }
}

.links-footer {
    display: flex;
    margin-top: 40px;
    white-space: nowrap;
    a {
        margin-right: 20px;
        font-size: 26px;
    }
}

.desk-icon {
    margin: 2px;
    width: 69px;
}

.desk-social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 75%;
    margin-top: 122px;
}